<html>
<body>
<div>

    {% for dataset in datasets %}
        <!-- -->
        <table cellpadding="3" cellspacing="1" border='1'>
            <thead>
                <tr>
                    {% for cell in dataset[0] %}
                    <td>{{cell}}</td>
                    {% end %}
                </tr>
            </thead>
            <tbody>
            {% for data in dataset %}
                <tr>
                {% for cell in data %}
                    <td>{{data[cell]}}</td>
                {% end %}
                </tr>
            {% end %}
            </tbody>
        </table>
        <hr>
    {% end %}

</div>

</body>
</html>